/* Styling for the pages/AccountPage.js */


@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inknut Antiqua', sans-serif;
    overflow: show;
}

.signout{
    float: right;
    width:50%;
}

.teams{
    border-right: 1px solid black;
    padding-right: 30px;
}

.search ul{
    list-style-type: none;
    padding: 1px;
}

#favTeams{
    list-style-type: none; 
    padding: 0px 10px; 
}

#teams{
    font-size: 10pt; 
}

#icon{
    padding-right:15px;
}

.scrollable-column {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}

.language p {
    margin: 0; /* Remove default margin */
    text-align: right; /* Align text to the right */
}
.language .form-check {
    margin: 5px; /* Add some space between the <p> and the switch */
}

#subtext{
    font-size: 12px;
    color: grey;
}