/* Styling for the components/Navbar.js & landingNavbar.js */


/* Imported the same font used in Figma for the application using google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


@keyframes highlight {
  from {
      border-bottom-color: transparent;
  }
  to {
      border-bottom-color: #4CB2D5;
  }
}

.navbar-link {
  transition: border-bottom-color 0.3s ease-in-out;
}

.navbar-link-active {
  animation: highlight 0.3s forwards;
}

.searchBar{
    width: 30%;
}

