/* Styling for the components/Navbar.js & landingNavbar.js */


/* Imported the same font used in Figma for the application using google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


.navbar-link {
  font-family: 'Inknut Antiqua', sans-serif;
  color: black;
}

.navbar-link.active{
  text-decoration: underline;
}

.searchBar{
    width: 30%;
}

