/* HomePage.css */
.scrollable-container {
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto;
    padding: 10px;
}

.article {
    margin-bottom: 100px; /* Adjust as needed for spacing between articles */
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
}

.article-image {
    width: 100%; /* Adjust as needed */
    height: 320px; /* Adjust as needed */
    object-fit: contain; /* Maintain aspect ratio and show the full image */
}

.article-headline {
    font-size: 1.6rem; /* Adjust as needed */
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
}

.article-description {
    font-size: 1rem; /* Adjust as needed */
    font-family: 'Inknut Antiqua', serif;
}

.read-more {
    color: blue; /* Blue color for the link */
    text-decoration: underline; /* Underline the link */
}

.selected-sport {
    font-size: 1rem; /* Same size as article description */
    font-family: 'Inknut Antiqua', serif; /* Same font as article description */
}

/* Add styles for Navbar */
.navbar {
    width: 100%;
    height: 60px; /* Adjust height as needed */
    background-color: #333; /* Adjust background color as needed */
    color: white; /* Adjust text color as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}